extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de nosotros")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in elit sagittis augue fringilla porttitor a a quam. In varius sed arcu ac convallis. Donec gravida orci vitae ultricies varius. Aliquam mollis egestas ligula vitae sagittis. Suspendisse vitae sem ac odio feugiat finibus at et erat.
                p Nulla rhoncus elementum augue, in facilisis diam ullamcorper nec. In tempus purus a augue blandit aliquam. Etiam tincidunt at lorem nec dignissim. Etiam vel facilisis ipsum, nec luctus nisl. Proin vitae magna nibh. Duis sagittis neque in diam bibendum, ut ornare massa ultricies.
                p Maecenas faucibus velit lorem, vel suscipit risus porttitor ut. Donec luctus a orci pulvinar varius. Etiam viverra neque eu sapien congue lobortis.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img.img-fluid(src="img/icono_seguridad.svg", alt="")
                    h2.mb-4.mt-4 Seguridad
                    p Ut quis velit varius, tempor urna vel, porttitor eros. Integer commodo non ante et sodales. Fusce feugiat leo vitae purus vehicula varius. Pellentesque ullamcorper nisl non lectus congue, nec egestas nisi volutpat.
                .col-md-4
                    img.img-fluid(src="img/icono_destinos.svg", alt="")
                    h2.mb-4.mt-4 Mejores destinos
                    p Ut quis velit varius, tempor urna vel, porttitor eros. Integer commodo non ante et sodales. Fusce feugiat leo vitae purus vehicula varius. Pellentesque ullamcorper nisl non lectus congue, nec egestas nisi volutpat.
                .col-md-4
                    img.img-fluid(src="img/icono_precios.svg", alt="")
                    h2.mb-4.mt-4 Mejor precio
                    p Ut quis velit varius, tempor urna vel, porttitor eros. Integer commodo non ante et sodales. Fusce feugiat leo vitae purus vehicula varius. Pellentesque ullamcorper nisl non lectus congue, nec egestas nisi volutpat.